// faq block
.faq{
    @include responsive-grid;
    margin: hierarchy(4) auto;
}

// faq title
.faq__title{
    grid-column: 1/-1;
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 2/6;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 3/8;
    }

    @include devices(bigPC) {
        grid-column: 3/9;
    }
}

// faq content
.faq__content{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;

    @include devices(tablet) {
        grid-column: 2/8;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 3/11;
    }

    @include devices(bigPC) {
        grid-column: 3/14;
    }
}

// faq questions
.faq__questions{
}

// faq question
.faq__question{
    border-bottom: 1px solid;
}