@import 'utils/utils';
@import 'components/components';
@import 'acf-block/acf-block';

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Be Vietnam Pro', sans-serif;
}