// simple block
.simple{
    @include responsive-grid;
    margin: hierarchy(4) auto;
}

// simple title
.simple__title{
    grid-column: 1/-1;    
    grid-row: 1;
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 1/5;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 2/7;
    }

    @include devices(bigPC) {
        grid-column: 2/8;
    }
}

// simple subtitle
.simple__subtitle{
    grid-column: 1/-1;    
    grid-row: 2;
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 1/5;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 2/7;
    }

    @include devices(bigPC) {
        grid-column: 2/8;
    }
}

// simple text
.simple__text{
    grid-column: 1/-1;  
    grid-row: 3;  
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 1/5;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 2/7;
    }

    @include devices(bigPC) {
        grid-column: 2/8;
    }
}

// simple img1
.simple__fst_container{
    grid-column: 1/-1;
    
    @include devices(tablet) {
        grid-column: 5/-1;
        grid-row: 1/5;
    }

    @include devices(littlePC) {
        grid-column: 7/-1;    
    }

    @include devices(bigPC) {
        grid-column: 8/-1;
    }
}

.simple__fst_image{
    height: 100%;
    object-fit: cover;
}
