body{
    background: aliceblue;
}

.acf-label{
    font-size: 16px;
}

.acf-block-body .acf-block-fields {
    border-radius: 20px;
}

.acf-input-wrap{
    input{
        border-radius: 10px;
        padding: 10px 20px;
    }
}