// twin block
.twin{
    @include responsive-grid;
    margin: hierarchy(4) auto;
}

// twin title
.twin__title{
    grid-column: 1/-1;    
    grid-row: 1;
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 1/5;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 1/6;
    }

    @include devices(bigPC) {
        grid-column: 1/7;
    }
}

// twin subtitle
.twin__subtitle{
    grid-column: 1/-1;    
    grid-row: 2;
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 1/5;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 1/6;
    }

    @include devices(bigPC) {
        grid-column: 1/7;
    }
}

// twin text
.twin__text{
    grid-column: 1/-1;  
    grid-row: 3;  
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 1/5;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 1/6;
    }

    @include devices(bigPC) {
        grid-column: 1/7;
    }
}

// twin img1
.twin__containerimg1{
    grid-column: 1/-1;
    
    @include devices(tablet) {
        grid-column: 5/7;
        grid-row: 1/5;
    }

    @include devices(littlePC) {
        grid-column: 6/10;    
    }

    @include devices(bigPC) {
        grid-column: 7/12;
    }
}

.twin__img1{
    height: 100%;
    object-fit: cover;
}

// twin img2
.twin__containerimg2{
    grid-column: 1/-1;

    @include devices(tablet) {
        grid-column: 7/-1;
        grid-row: 1/5;
    }

    @include devices(littlePC) {
        grid-column: 10/-1;    
    }

    @include devices(bigPC) {
        grid-column: 12/-1;
    }
}

.twin__img2{
    height: 100%;
    object-fit: cover;
}