.twin{
    @include responsive-grid;
}

.twin__title{
    grid-column: 1/6;
    @include typo(3,4,8);
}

.twin__subtitle{
    grid-column: 1/6;
    @include typo(2,3,-1);
}

.twin__text{
    grid-column: 1/6;
    @include typo(0,2,-1);
    margin-bottom:140px;
}

.twin__containerimg1{
    grid-column: 6/10;
    grid-row: 1/5;
}

.twin__img1{
    height: 100%;
    object-fit: cover;
}

.twin__containerimg2{
    grid-column: 10/-1;
    grid-row: 1/5;
}

.twin__img2{
    height: 100%;
    object-fit: cover;
}