{{ include('parts/head/head.twig') }}
<body class="{{body_class}}">
{{ include('parts/header/header.twig') }}

{% block content %}
    Empty
{% endblock %}

{{ include('parts/footer/footer.twig') }}

</body>
</html>