{% extends 'base.twig' %}

{% block content %}


	<div class="">

		{# Loop for posts #}
		<h2 class="">Posts</h2>
		{% for post in posts %}
			<div>
				<a href="{{ post.link }}">{{ post.title }}</a>
			</div>
		{% endfor %}
		{% include "parts/pagination/pagination.twig" %}

		{# Loop for pages #}
		<h2 class="">Pages</h2>
		{% for page in pages %}
			<div>
				<a href="{{ page.link }}">{{ page.title }}</a>
			</div>
		{% endfor %}


	</div>
{% endblock %}
