// vision block
.vision{
    @include responsive-grid;
    margin: hierarchy(4) auto;
}

// vison title
.vision__title{
    grid-column: 1/-1;  
    grid-row: 1;  
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 3/-1;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 5/11;    
    }

    @include devices(bigPC) {
        grid-column: 7/13;
    }
}

// vison subtitle
.vision__subtitle{
    grid-column: 1/-1;    
    grid-row: 2;
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 3/-1;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 5/11;    
    }

    @include devices(bigPC) {
        grid-column: 7/13;
    }
}

// vison text
.vision__text{
    grid-column: 1/-1;    
    max-width: 55ch;
    grid-row: 3;
    margin-left: hierarchy(4);

    @include devices(tablet) {
        grid-column: 3/-1;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 5/11;    
    }

    @include devices(bigPC) {
        grid-column: 7/15;
    }
}

// vison img1
.vision__fst_container{
    grid-column: 1;
    grid-row: 1/5;
    z-index: -1;

    @include devices(tablet) {
        grid-column: 1/3;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 1/5;
    }

    @include devices(bigPC) {
        grid-column: 1/7;
    }
}

// vison img2
.vision__fst_image{
    height: 100%;
    object-fit: cover;
}

.vision__scd_conatiner{
    grid-column: 1/3;
    grid-row: 4;

    @include devices(tablet) {
        grid-column: 3/6;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 5/9;
    }

    @include devices(bigPC) {
        grid-column: 7/12;
    }
}

.vision__scd_image{
    height: 100%;
    object-fit: cover;
}

// vison img3
.vision__trd_element{
    grid-column: 3/-1;
    grid-row: 4;

    @include devices(tablet) {
        grid-column: 6/-1;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 9/-1;
    }

    @include devices(bigPC) {
        grid-column: 12/-1;
    }
}

.vision__trd_image{
    height: 100%;
    object-fit: cover;
}