// vison title
.vision__title--reverse{ 
    margin-left: hierarchy(2);

    @include devices(tablet) {
        grid-column: 1/7;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 2/8;
    }

    @include devices(bigPC) {
        grid-column: 4/13;
    }
}

// vison subtitle
.vision__subtitle--reverse{
    margin-left: hierarchy(2);

    @include devices(tablet) {
        grid-column: 1/7;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 2/8;
    }

    @include devices(bigPC) {
        grid-column: 4/13;
    }
}

// vison text
.vision__text--reverse{
    margin-left: hierarchy(2);

    @include devices(tablet) {
        grid-column: 1/7;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 2/8;
    }

    @include devices(bigPC) {
        grid-column: 4/13;    
    }
}

// vison img1
.vision__fst_container--reverse{

    grid-column: 1/3;
    grid-row: 4;
    z-index: -1;

    @include devices(tablet) {
        grid-column: 1/4;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 1/5;
    }

    @include devices(bigPC) {
        grid-column: 1/7;
    }
}

.vision__fst_image--reverse{
    height: 100%;
    object-fit: cover;
}

// vison img2
.vision__scd_conatiner--reverse{
    grid-column: 3/-1;

    @include devices(tablet) {
        grid-column: 4/7;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 5/9;
    }

    @include devices(bigPC) {
        grid-column: 7/13;
    }
}

.vision__scd_image--reverse{
    height: 100%;
    object-fit: cover;
}

// vison img3
.vision__trd_element--reverse{
    grid-column: 4;
    grid-row: 1/4;
    z-index: -1;

    @include devices(tablet) {
        grid-column: 7/-1;
        grid-row: 1/5;
        margin-left: 0;
    }

    @include devices(littlePC) {
        grid-column: 9/-1;
    }

    @include devices(bigPC) {
        grid-column: 13/-1;    
    }
}