{% block header %}
		<a class="header__logo" href="{{ site.url }}" rel="home">
            {{ site.name }}
        </a>
		<nav class="header__nav" role="navigation">
			{% include "parts/menu/menu.twig" with {'items': menu.get_items} %}
		</nav>
        <h1 class="header__title">
            {{ post.title }}
        </h1>
{% endblock %}